@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #f2f7f7;
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  height: 75%;
  padding: 2rem;
  margin: 5rem;
  background-color: #5f9ea0;
  border-radius: 15px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

.display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40%;
  border-radius: 15px;
  background-color: #fff;
}

.display h2 {
  text-align: center;
  margin: 2rem;
  opacity: 0;
  font-size: 2em;
  transition: opacity 0.5s ease-in;
}

.display h2.visible {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.drum {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  height: 50%;
}

.drum-pad {
  width: 32%;
  height: 32%;
  margin: 0.33%;
  background-color: #bfd8d9;
  color: #333;
  border: none;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.drum-pad:active,
.drum-pad:focus {
  outline: none;
}

.drum-pad:active {
  box-shadow: none;
}
