@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

$background-color: #f2f7f7;
$container-color: #5f9ea0;
$drumPad-color: #bfd8d9;
$drumPad-text: #333;

* {
  box-sizing: border-box;
}

body {
  @include flex(row);
  width: 100vw;
  background-color: $background-color;

  font-family: 'Roboto', sans-serif;
}

main {
  @include flex(row);
  width: 100vw;
  height: 100vh;
}

.container {
  @include flex(column-reverse);
  justify-content: space-around;

  width: 50%;
  height: 70%;
  padding: 2rem;

  background-color: $container-color;
  border-radius: 15px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

.display {
  @include flex(row);
  width: 90%;
  height: 40%;

  border-radius: 15px;
  background-color: #fff;
}

.drum {
  @include flex(row);
  flex-wrap: wrap;
  width: 90%;
  height: 50%;
}

.drum-pad {
  width: 32%;
  height: 32%;
  margin: 0.33%;

  background-color: $drumPad-color;
  color: $drumPad-text;
  border: none;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.drum-pad:active,
.drum-pad:focus {
  outline: none;
}

.drum-pad:active {
  box-shadow: none;
}
