@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

body {
  @include flex(row);
  width: 100vw;

  font-family: 'Roboto', sans-serif;
}

main {
  @include flex(row);
  width: 100vw;
  height: 100vh;
}

.container {
  @include flex(row);
  justify-content: space-around;

  width: 90%;
  height: 70%;
  padding: 2rem;

  border: 1px solid lightgray;
}

.drum {
  width: 70%;
  height: 90%;
}

.display {
  @include flex(row);
  width: 30%;
  height: 90%;

  border: 1px solid lightgray;
}

.drum-pad {
  background-color: blue;
  color: #fff;
  width: 33%;
  height: 33%;
}
